<!DOCTYPE html>
<html>

<head>
    <title>Card Shuffler</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
    <link rel="stylesheet" href="styles.css">

    <!-- development version, includes helpful console warnings 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="count-section">
          # of Shuffles: {{ shuffleCount }}
        </div>
        <div class="speed-buttons">
            <button v-for="type in shuffleTypes" class="button is-small"
                :class="{ 'is-light': shuffleSpeed != `shuffle${type}` }" @click="shuffleSpeed = `shuffle${type}`">
                {{ type }}
            </button>
        </div>
        <div class="main-buttons">
            <button v-if="isDeckShuffled" @click="displayInitialDeck" class="button is-primary is-outlined">
                Reset <i class="fas fa-undo"></i>
            </button>
            <button @click="shuffleDeck" class="button is-primary">
                Shuffle <i class="fas fa-random"></i>
            </button>
        </div>
        <transition-group :name="shuffleSpeed" tag="div" class="deck">
            <div v-for="card in cards" :key="card.id" class="card" :class="suitColor[card.suit]">
                <span class="card__suit card__suit--top">{{ card.suit }}</span>
                <span class="card__number">{{ card.rank }} </span>
                <span class="card__suit card__suit--bottom">{{ card.suit }}</span>
            </div>
        </transition-group> 
        
        <div class="main-buttons">
            <button v-if="isDeckShuffled" @click="dealCards" class="button is-primary is-outlined">
                Deal
            </button>
        </div>   
    </div>
        
    

    <script>
        var getCardString = function(_card){
            return "" + _card.rank + "" + _card.suit;
        }

        new Vue({
            el: '#app',
            data: {
                ranks: ['A', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K'],
                suits: ['♥', '♦', '♠', '♣'],
                cards: [],
                suitColor: {
                    '♠': 'black',
                    '♣': 'black',
                    '♦': 'red',
                    '♥': 'red',
                },
                shuffleSpeed: 'shuffleMedium',
                shuffleTypes: ['Slow', 'Medium', 'Fast'],
                cardIndex: 0,
                isDeckShuffled: false,
                shuffleCount: 0,
                board: {
                    cards: [],
                    burn: []
                },
                player1: {
                    name: 'player1',
                    hand: []
                },
                player2: {
                    name: 'player2',
                    hand: []
                }
            },
            created() {
                this.displayInitialDeck();
            },
            methods: {
                displayInitialDeck() {
                    let id = 1;
                    this.cards = [];

                    for (let s = 0; s < this.suits.length; s++) {
                        for (let r = 0; r < this.ranks.length; r++) {
                            let card = {
                                id: id,
                                rank: this.ranks[r],
                                suit: this.suits[s]
                            }
                            this.cards.push(card);
                            id++;
                        }
                    }

                    this.isDeckShuffled = false;
                    this.shuffleCount = 0;
                    this.cardIndex = 0;
                },
                shuffleDeck() {
                    console.log("SHUFFLE");
                    for (let i = this.cards.length - 1; i > 0; i--) {
                        let randomIndex = Math.floor(Math.random() * i);

                        let temp = this.cards[i];
                        Vue.set(this.cards, i, this.cards[randomIndex]);
                        Vue.set(this.cards, randomIndex, temp);
                    }
                    this.isDeckShuffled = true;
                    this.cardIndex = 0;
                    this.shuffleCount = this.shuffleCount + 1;
                },
                getCard(){
                    let currentCardIndex = this.cardIndex;
                    this.cardIndex++;
                    return this.cards[currentCardIndex];
                },
                dealCards(){
                    if(this.isDeckShuffled){
                        console.log("DealCards");
                        this.isDeckShuffled = false;

                        // reset board and hands
                        this.board.cards = [];
                        this.board.burn = [];
                        
                        this.player1.hand = [];
                        this.player2.hand = [];

                        this.player1.hand.push(this.getCard());
                        this.player2.hand.push(this.getCard());
                        this.player1.hand.push(this.getCard());
                        this.player2.hand.push(this.getCard());

                        console.log("" + this.player1.name + ": " + getCardString(this.player1.hand[0]) + " " + getCardString(this.player1.hand[1]));
                        console.log("" + this.player2.name + ": " + getCardString(this.player2.hand[0]) + " " + getCardString(this.player2.hand[1]));
                        
                        // burn card
                        this.board.burn.push(this.getCard());

                        // FLOP                        
                        this.board.cards.push(this.getCard());
                        this.board.cards.push(this.getCard());
                        this.board.cards.push(this.getCard());

                        // burn card
                        this.board.burn.push(this.getCard());

                        // TURN 
                        this.board.cards.push(this.getCard());
                        
                        // burn card
                        this.board.burn.push(this.getCard());

                        // RIVER
                        this.board.cards.push(this.getCard());

                        console.log("Flop: " + getCardString(this.board.cards[0]) + " " + getCardString(this.board.cards[1]) + " " + getCardString(this.board.cards[2]));
                        console.log("Turn: " + getCardString(this.board.cards[3]));
                        console.log("River: " + getCardString(this.board.cards[4]));

                    }else{
                        console.log("Must Shuffle Deck First");
                    }
                }
            },
        });

    </script>
</body>

</html>